/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/GnomeGamesSupport-1.0.gir
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/games-marshal.c
/games-marshal.h
/gnome-games-render-cards
/libgames-support-gi.la
/libgames-support.la
/libgamescards.la
/so_locations
/stamp-games-marshal.c
/stamp-games-marshal.h
/tags
