*~
*.[oa]
*.la
*.so
*.lo
*.omf
*.desktop.in
*.desktop
*.schemas
*.typelib

#
# Documentation
#
*.xml
# but not these real XML files
!*/help/C/*.xml
!glchess/mime/glchess.xml
!glchess/data/ai.xml
.xml2po.mo

Makefile.in
Makefile

git-error

#
# Autotools crap
#
.deps
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h.in
/config.sub
/configure
/depcomp
/libtool
/gnome-doc-utils.make
/shave
/shave-libtool
/stamp-h1
/config.log
/config.h
/config.status
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/missing
/mkinstalldirs
/myindent.sh
/ltmain.sh
m4/gnome-doc-utils.m4
m4/intltool.m4
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4

#
# Translations
#
po/gnome-games.pot
po/Makefile.in.in
po/missing
po/notexist
po/stamp-it
po/*.mo
po/*.gmo
po/POTFILES
po/.intltool-merge-cache
py-compile

#
# Eclipse and Anjuta
#
/.project
/.cproject

#
# Game-specific
#
aisleriot/sol
dependencies/gnuchess/gnome-gnuchess
glchess/src/glchess.in
glchess/src/lib/defaults.py
glines/glines
gnect/src/gnect
gnect/src/gnectd
gnibbles/gnibblesd
gnobots2/gnobots2
gnome-sudoku/src/gnome-sudoku
gnome-sudoku/src/gnome-sudoku.in
gnome-sudoku/src/lib/*.pyc
gnome-sudoku/src/lib/defaults.py
gnome-sudoku/src/lib/gtk_goodies/*.pyc
gnometris/gnometris
gnomine/gnomine
gnotravex/gnotravex
gnotski/gnotski
gtali/gtali
iagno/iagno
iagno/iagnod
libgames-support/gnome-games-render-cards
libgames-support/games-marshal.c
libgames-support/games-marshal.h
libgames-support/stamp-games-marshal.c
libgames-support/stamp-games-marshal.h
lightsoff/lightsoff
mahjongg/mahjongg
same-gnome/same-gnome
