/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/ChangeLog
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/Makefile
/Makefile.in
/TAGS
/_libs
/aclocal.m4
/aisleriot/Makefile.in
/aisleriot/help/Makefile.in
/aisleriot/rules/Makefile.in
/autom4te.cache
/autoscan.log
/build/gnome-clutter/po/Makefile.in
/build/gtk-2-8/po/Makefile.in
/build/gtk-only/po/Makefile.in
/build/maemo3-armel/po/Makefile.in
/build/maemo3-x86/po/Makefile.in
/build/maemo4-armel/po/Makefile.in
/build/maemo5-x86/po/Makefile.in
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/configure.scan
/depcomp
/glchess/Makefile.in
/glchess/data/Makefile.in
/glchess/gnuchess/Makefile.in
/glchess/help/Makefile.in
/glchess/src/Makefile.in
/glchess/src/lib/Makefile.in
/glchess/src/lib/chess/Makefile.in
/glchess/src/lib/chess/fics/Makefile.in
/glchess/src/lib/ggz/Makefile.in
/glchess/src/lib/gtkui/Makefile.in
/glchess/src/lib/scene/Makefile.in
/glchess/src/lib/scene/cairo/Makefile.in
/glchess/src/lib/scene/opengl/Makefile.in
/glchess/src/lib/ui/Makefile.in
/glchess/textures/Makefile.in
/glines/Makefile.in
/glines/help/Makefile.in
/gnect/Makefile.in
/gnect/data/Makefile.in
/gnect/help/Makefile.in
/gnect/pixmaps/Makefile.in
/gnect/src/Makefile.in
/gnibbles/Makefile.in
/gnibbles/help/Makefile.in
/gnibbles/pix/Makefile.in
/gnobots2/Makefile.in
/gnobots2/help/Makefile.in
/gnobots2/help/da/Makefile.in
/gnome-doc-utils.make
/gnome-sudoku/Makefile.in
/gnome-sudoku/data/Makefile.in
/gnome-sudoku/help/Makefile.in
/gnome-sudoku/images/Makefile.in
/gnome-sudoku/src/Makefile.in
/gnome-sudoku/src/lib/Makefile.in
/gnome-sudoku/src/lib/gtk_goodies/Makefile.in
/gnometris/Makefile.in
/gnometris/help/Makefile.in
/gnometris/pix/Makefile.in
/gnomine/Makefile.in
/gnomine/help/Makefile.in
/gnotravex/Makefile.in
/gnotravex/help/Makefile.in
/gnotravex/pixmaps/Makefile.in
/gnotski/Makefile.in
/gnotski/help/Makefile.in
/gtali/Makefile.in
/gtali/help/Makefile.in
/gtali/help/da/Makefile.in
/gtali/pix/Makefile.in
/gtk-doc.make
/iagno/Makefile.in
/iagno/help/Makefile.in
/icons/Makefile.in
/install-sh
/intltool-extract
/intltool-extract.in
/intltool-merge
/intltool-merge.in
/intltool-update
/intltool-update.in
/libgames-support/Makefile.in
/libtool
/lightsoff/Makefile.in
/lightsoff/data/themes/Makefile.in
/lightsoff/data/themes/tango/Makefile.in
/lightsoff/data/themes/up/Makefile.in
/lightsoff/help/Makefile.in
/lightsoff/src/Path.js
/lightsoff/src/lightsoff
/ltmain.sh
/mahjongg/Makefile.in
/mahjongg/help/Makefile.in
/missing
/mkinstalldirs
/omf.make
/po/*.gmo
/po/*.mo
/po/.intltool-merge-cache
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/POTFILES
/po/gnome-games.pot
/po/stamp-it
/same-gnome-clutter/Makefile.in
/same-gnome-clutter/data/themes/Makefile.in
/same-gnome-clutter/data/themes/tango/Makefile.in
/same-gnome-clutter/data/themes/test/Makefile.in
/same-gnome-clutter/src/Path.js
/same-gnome/Makefile.in
/same-gnome/help/Makefile.in
/so_locations
/sounds/Makefile.in
/stamp-h1
/tags
/tests/Makefile.in
/tests/libgames-support/Makefile.in
/xmldocs.make
