aclocal.m4
added
aisleriot/help/fr/Makefile.in
aisleriot/help/Makefile.in
aisleriot/Makefile.in
aisleriot/rules/Makefile.in
autom4te.cache
blackjack/data/Makefile.in
blackjack/help/Makefile.in
blackjack/Makefile.in
blackjack/pixmaps/Makefile.in
blackjack/src/Makefile.in
compile
config.guess
config.h.in
config.sub
configure
depcomp
dependencies/ggz-gtk/Makefile.in
dependencies/gnuchess/Makefile.in
dependencies/Makefile.in
git-error
glchess/data/Makefile.in
glchess/glade/Makefile.in
glchess/help/Makefile.in
glchess/Makefile.in
glchess/src/lib/chess/fics/Makefile.in
glchess/src/lib/chess/Makefile.in
glchess/src/lib/ggz/Makefile.in
glchess/src/lib/gtkui/Makefile.in
glchess/src/lib/Makefile.in
glchess/src/lib/network/
glchess/src/lib/scene/cairo/Makefile.in
glchess/src/lib/scene/Makefile.in
glchess/src/lib/scene/opengl/Makefile.in
glchess/src/lib/ui/Makefile.in
glchess/src/Makefile.in
glchess/textures/Makefile.in
glines/help/it/Makefile.in
glines/help/Makefile.in
glines/Makefile.in
gnect/data/Makefile.in
gnect/help/Makefile.in
gnect/Makefile.in
gnect/pixmaps/Makefile.in
gnect/src/Makefile.in
gnibbles/help/Makefile.in
gnibbles/Makefile.in
gnibbles/pix/Makefile.in
gnibbles/sounds/
gnobots2/help/da/Makefile.in
gnobots2/help/es/Makefile.in
gnobots2/help/it/Makefile.in
gnobots2/help/Makefile.in
gnobots2/Makefile.in
gnome-doc-utils.make
gnome-sudoku/data/Makefile.in
gnome-sudoku/glade/Makefile.in
gnome-sudoku/help/Makefile.in
gnome-sudoku/images/Makefile.in
gnome-sudoku/Makefile.in
gnome-sudoku/src/lib/gtk_goodies/Makefile.in
gnome-sudoku/src/lib/Makefile.in
gnome-sudoku/src/Makefile.in
gnometris/help/Makefile.in
gnometris/Makefile.in
gnometris/pix/Makefile.in
gnometris/sounds/
gnomine/help/Makefile.in
gnomine/Makefile.in
gnotravex/help/Makefile.in
gnotravex/Makefile.in
gnotravex/pixmaps/Makefile.in
gnotski/help/Makefile.in
gnotski/Makefile.in
gtali/help/da/Makefile.in
gtali/help/Makefile.in
gtali/Makefile.in
gtali/pix/Makefile.in
iagno/help/it/Makefile.in
iagno/help/Makefile.in
iagno/Makefile.in
iagno/sounds/
icons/Makefile.in
INSTALL
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libgames-support/Makefile.in
ltmain.sh
m4/gnome-doc-utils.m4
m4/intltool.m4
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
mahjongg/help/it/Makefile.in
mahjongg/help/Makefile.in
mahjongg/Makefile.in
Makefile.in
missing
mkinstalldirs
myindent.sh
po/gnome-games.pot
po/Makefile.in.in
po/missing
po/notexist
po/stamp-it
py-compile
same-gnome/help/Makefile.in
same-gnome/Makefile.in
sounds/Makefile.in
tests/libgames-support/Makefile.in
tests/Makefile.in

