/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*/*.omf.out
/*/.xml2po.mo
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/C/accordion.xml
/C/agnes.xml
/C/aisleriot.xml
/C/athena.xml
/C/auld_lang_syne.xml
/C/aunt_mary.xml
/C/backbone.xml
/C/bakers_dozen.xml
/C/bakers_game.xml
/C/bear_river.xml
/C/beleaguered_castle.xml
/C/block_ten.xml
/C/bristol.xml
/C/camelot.xml
/C/canfield.xml
/C/carpet.xml
/C/chessboard.xml
/C/clock.xml
/C/cover.xml
/C/cruel.xml
/C/definitions.xml
/C/diamond_mine.xml
/C/doublets.xml
/C/eagle-wing.xml
/C/easthaven.xml
/C/eight_off.xml
/C/elevator.xml
/C/escalator.xml
/C/first_law.xml
/C/fortress.xml
/C/fortunes.xml
/C/forty_thieves.xml
/C/fourteen.xml
/C/freecell.xml
/C/gaps.xml
/C/gay_gordons.xml
/C/giant.xml
/C/glenwood.xml
/C/gold_mine.xml
/C/golf.xml
/C/gypsy.xml
/C/helsinki.xml
/C/hopscotch.xml
/C/isabel.xml
/C/jamestown.xml
/C/jumbo.xml
/C/kansas.xml
/C/king_albert.xml
/C/kings_audience.xml
/C/klondike.xml
/C/labyrinth.xml
/C/lady_jane.xml
/C/legal.xml
/C/maze.xml
/C/monte_carlo.xml
/C/napoleons_tomb.xml
/C/neighbor.xml
/C/odessa.xml
/C/osmosis.xml
/C/peek.xml
/C/pileon.xml
/C/plait.xml
/C/poker.xml
/C/quatorze.xml
/C/royal_east.xml
/C/saratoga.xml
/C/scorpion.xml
/C/scuffle.xml
/C/seahaven.xml
/C/sir_tommy.xml
/C/spider.xml
/C/spider_three_decks.xml
/C/spiderette.xml
/C/straight_up.xml
/C/streets_and_alleys.xml
/C/ten_across.xml
/C/terrace.xml
/C/thieves.xml
/C/thirteen.xml
/C/thumb_and_pouch.xml
/C/treize.xml
/C/triple_peaks.xml
/C/union_square.xml
/C/valentine.xml
/C/westhaven.xml
/C/whitehead.xml
/C/will_o_the_wisp.xml
/C/yield.xml
/C/yukon.xml
/C/zebra.xml
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/aisleriot-C.omf
/aisleriot-ca.omf
/aisleriot-de.omf
/aisleriot-el.omf
/aisleriot-es.omf
/aisleriot-eu.omf
/aisleriot-fr.omf
/aisleriot-oc.omf
/aisleriot-ru.omf
/aisleriot-sv.omf
/ca/aisleriot.xml
/ca/ca.po
/de/aisleriot.xml
/de/de.po
/el/aisleriot.xml
/el/el.po
/es/aisleriot.xml
/es/es.po
/eu/aisleriot.xml
/eu/eu.po
/fr/aisleriot.xml
/fr/fr.po
/oc/aisleriot.xml
/oc/oc.po
/ru/aisleriot.xml
/ru/ru.po
/so_locations
/sv/aisleriot.xml
/sv/sv.po
/tags
