Klondike:
--------
Klondike is identical to 'Windows Solitaire.'  I assume most people
have played that at some point in their life, and will not bother with 
the rules here.

Odessa:
------
I'm not sure what the correct name for this game is, so I'm calling it 
Odessa because it sounds pretty cool.  The rules are very
straightforward.  You can drag any visible card on the screen and
place it on top of the bottom card of any pile.  The card will stay,
if it is of the same suit, and one value lower.  For example, you can
put the eight of clubs on the nine of clubs, but not the nine of
spades.  You can move cards off to the side, starting with the ace of
every suit.

Osmosis:
-------

Spider:
------
The rules for this are the same as the standard Spider game.
