[Desktop Entry]
Name=Aisleriot
Name[es]=Aisleriot
Name[fr]=Aisleriot
Name[de]=Aisleriot
Name[no]=Aisleriot
Name[pt]=Aisleriot
Name[po]=Aisleriot
Name[po]=Айселериот
Comment=Card-based Solitaire suite.
Comment[es]=Conjunto de juegos de cartas de tipo solitario
Comment[fr]=Ensemble de jeux de cartes du type solitaire
Comment[ru]=Коллекция пасьянсов
Exec=sol
Icon=gnome-aisleriot.png
Terminal=0
Type=Application
