[Desktop Entry]
Name=Solitaire
Name[es]=Solitario
Name[fr]=Solitaire
Comment=Multiple games Solitaire
Comment[es]=Solitario con varios juegos
Comment[fr]=Divers Jeux de Solitaire
Exec=sol
Icon=
Terminal=0
Type=Application
