[Desktop Entry]
Name=FreeCell
Name[es]=FreeCell
Name[de]=FreeCell
Name[ko]=«¡∏Æºø
Comment=FreeCell Game
Comment[es]=Juego FreeCell
Comment[de]=Gnome Variante von FreeCell
Comment[ko]=«¡∏Æºø ∞‘¿”
Exec=freecell
Icon=
Terminal=0
Type=Application
