[Desktop Entry]
Name=FreeCell
Name[es]=FreeCell
Name[de]=FreeCell
Name[fr]=FreeCell
Name[ko]=«¡∏Æºø
Name[no]=Freecell
Comment=FreeCell Game
Comment[es]=Juego FreeCell
Comment[de]=Gnome Variante von FreeCell
Comment[fr]=Variante GNOME du Jeu FreeCell
Comment[ko]=«¡∏Æºø ∞‘¿”
Comment[no]=Kortspillet Freecell
Exec=freecell
Icon=
Terminal=0
Type=Application
