[Desktop Entry]
Name=FreeCell
Name[pt_BR]=FreeCell
Name[cs]=FreeCell
Name[da]=Napoleon
Name[de]=FreeCell
Name[el]=FreeCell
Name[es]=FreeCell
Name[et]=Freecell
Name[fi]=Vapaakentt‰
Name[fr]=FreeCell
Name[gl]=FreeCell
Name[ja]=•’•Í°º•ª•Î
Name[ko]=«¡∏Æºø
Name[lt]=FreeCell
Name[no]=Freecell
Name[pt]=Freecell
Name[ru]=Ê“…”≈ÃÃ
Name[sk]=FreeCell
Name[sv]=Napoleon pÂ S:t Helena
Name[wa]=Freecell
Comment=FreeCell Game
Comment[cs]=Hra FreeCell
Comment[da]=Kortspillet Napoleon - ogsÂ kaldet FreeCell
Comment[de]=Gnome-Variante von FreeCell
Comment[el]=‘Ô ·È˜Ìﬂ‰È FreeCell
Comment[es]=Juego FreeCell
Comment[et]=Kaardim‰ng freecell
Comment[fi]=Vapaakentt‰-pasianssi
Comment[fr]=Variante GNOME du Jeu FreeCell
Comment[gl]=Xogo FreeCell
Comment[ja]=•’•Í°º•ª•Î
Comment[ko]=«¡∏Æºø
Comment[lt]=FreeCell kort¯ ˛aidimas
Comment[no]=Kortspillet Freecell
Comment[pt]=Variante GNOME de FreeCell
Comment[pt_BR]=Jogo FreeCell
Comment[ru]=GNOME ◊≈“”…— …«“Ÿ –¡”ÿ—Œ”¡ Ê“…”≈ÃÃ
Comment[sk]=Hra FreeCell
Comment[sv]=Kortspelet Napoleon pÂ S:t Helena
Comment[wa]=Li cwÂrdjeu di Freecell
Exec=freecell
Icon=gnome-cardgame.png
Terminal=0
Type=Application
